.git
.github
.pytest_cache
.ruff_cache
htmlcov
.tox
.nox
tests
scripts
docs
Makefile
docker-compose.yml
CHANGELOG.md
.pre-commit-config.yaml
pytest.ini
requirements*.txt
.mypy_cache
*.egg-info
dist
build
.coverage
